body 
{
    font-family: 'Josefin Sans', sans-serif;
    background-image: url("img/Calming-Triggered-Emotions-Saunders_1920x1080.webp");
    background-size: cover;
   
}
@media screen and (min-width: 480px) {
    body {
        background: white url("img/Calming-Triggered-Emotions-Saunders_1920x1080.webp") no-repeat 50% 50%;
    }
}
h1 {
    text-align: center;
}
h2{
    text-align: center;
}
h3{
    text-align: center;
}
h5{
    text-align: center;
}
.button 
{
    
    width: 80px;
    height: 25px;
    text-align: center;
    float:right;
    background-color: #ece9e8;
    margin: 0 2px 0 2px;
    cursor: pointer;
    
}

.button:hover{
    background-color: #c4504b;
    color: #f88b69;
  }

.button-corner {
    position: fixed;
    bottom: 90px;
    right: 80px;
    border-radius: 12px;
    width: 105px;
    height: 30px;
    border-style: outset;
    background-color: #f88b69;
    padding-top: 4px;
    padding-bottom: 2px;
  }
  .button-corner:hover{
    background-color: #f85827;
    color: #f88b69;
  }
.button a 
{
    text-decoration: none;
    color: rgb(36, 35, 126);
    line-height: 25px;
}
#container1
{
    width:15%;
    height: 55%;
    padding: 40px 20px;
    position: fixed;
    top: 0%;
    right: 0%;
    background-color: #db917e;
    border-radius:3px;
    color: #fff;
    opacity: 90%;
    box-shadow: 0 0 10px 0 rgb(91, 82, 82);
}
#container 
{
    width:50%;
    margin: 150px auto;
    padding: 50px 30px;
    background-color: #76666e;
    border-radius:3px;
    color: #fff;
    opacity: 90%;
    box-shadow: 0 0 10px 0 #999;
}
ul 
{
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 500px;
}
ul li
{
    width: 200px;
    margin: 10px;
    padding: 5px;
    display: inline-block; 
}
#prev 
{
    display:none;
}
#start 
{
    display:none;
    width: 100px;
}
input[type="radio"]{
    cursor: pointer;
 
}
